<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Çeviri Uygulaması</title>

    <style>
        body {
            padding-top: 20px;
        }
        .container {
            max-width: 600px;
        }
    </style>
</head>
<body>

<div class="container">
    <h1 class="mb-4">Çeviri Yap</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.text_to_translate.label_tag }}
            {{ form.text_to_translate }}
            {{ form.text_to_translate.errors }}
        </div>
        <button type="submit" class="btn btn-primary">Çevir</button>
    </form>

    {% if translated_text %}
    <div class="mt-5">
        <h2>Çeviri Sonucu:</h2>
        <p>{{ translated_text }}</p>
    </div>
    {% endif %}
</div>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
